/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	margin:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.book{
	padding-top:10px;
	background-color:lightgray;
}
button{
	width:100%;
	background-color:#2ecc71;
	margin-bottom:10px;
	border:none;
	padding:5px;
	border-radius:3px;
}
h2{
	margin-top:0px;
	padding:5px;
	background-color:lightgray;
}
h3{
	margin:0px;
}
img{
	padding-left:100px;
}
p{
	margin:0px;
	color:#777777;
}
